html{
    scroll-behavior: smooth; /*rolagem suave*/
}

body{
    font-family: tahoma, arial, sans-serif;
    margin: 0; /*muda fonte, tira margem*/
    padding: 0;
    background: linear-gradient(mintcream, darkgreen 1200px);
   /* background-image: url(../imagens/fundo-usuario1.png);
    background-repeat: no-repeat;
    background-position: center;*/
}

/*definir tamanho e centralizar*/
#mprincipal{
    width: 1024px;
    margin: auto;
}

/*INICIO AJUSTAR TOPO E MENU*/

.header-topo{
    height: 55px;
    background: #53005f;
    position: relative;
}

.logotipo{
    margin: auto;
    height: 55px;
}

/*formatar menu*/

.header-nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.header-nav ul{
    margin: 0;
    padding: 0;
}
.header-nav li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: 7px;
    padding: 0px;
}

/*FIM AJUSTAR TOPO E MENU*/

/*ARRUMAR O BODY */

.titulo h1{
    text-align: center;
    font-size: 50px;
}

.titulo p{
    text-align: center;
    font-size: 30px;
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 700px;
}

/*ARRUMAR MENUS background-color: ;*/

a.menu1e{
    text-align: center;
    color: black;
    border-color: black;
    font-weight: bold;
    font-size: 50px;
    font-family: sans-serif;
    text-decoration: none;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}


div{
    width: 1280px;
    height: 150px;
    background-color: ghostwhite;
    border: 3px solid darkgreen;
    display: inline-flex;
    margin-bottom: 10px;
   /* background: linear-gradient(orange, orangered 200px);background: linear-gradient(white, whitesmoke 200px);*/
    /*background-color: orange; background-color: darkgreen;*/
}

.menu1{
    margin-left: auto; /*alinhar no meio*/
    margin-right: auto;
    margin-top: 10px;
    width: 1280px;
}


/*colocar imagens de fundo*/

#menuA{
    
    background-image: url(../imagens/sub-.png);
}

#menuB{
    background-image: url(../imagens/sub.png);
}


/*ARRUMAR FOOTER */
footer{
    background-color: purple;
    padding: 5px;
    font-size: 12px;
    color: white;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 20px;
}

/* o responsivo do site */

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {

    body { /* corpo do site */
        width: 100%;
    }
    
    nav { /* menu acima */
        flex-direction: row;
        justify-content: space-around;
    }
    
    nav ul {
        flex-direction: row;
       /* width: 50%;*/
    }
    
    /* Cabeçalho*/
    
    header{
        height: 600px;
        width: 100%;
     /*   height: 60vh; */
        justify-content: center;
    }
    
    #principal{
        width: 100%;
        height: auto;
    }
    
    #mideias {
        width: 100%;
        height: auto;
    }
    
    #titulo h1 {
        width: 95%;
        height: auto;
    }
    
    #titulo p {
        width: 100%;
    }
    
    #menu1 {
        width: 90%;
        box-sizing: border-box;
        display: block;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    #menuA{
        width: 100%;
    }
    
    #menuB{
        width: 100%;
    }
   
    
}