html{
    scroll-behavior: smooth; /*rolagem suave*/
}

body{
    font-family: tahoma, arial, sans-serif;
    margin: 0; /*muda fonte, tira margem*/
    padding: 0;
    background: linear-gradient(mintcream, darkgreen 2000px);
}

/*definir tamanho e centralizar*/
#mprincipal{
    width: 1024px;
    margin: auto;
}

/*INICIO AJUSTAR TOPO E MENU*/

.header-topo{
    height: 55px;
    background: #53005f;
    position: relative;
}

.logotipo{
    margin: auto;
    height: 55px;
}

/*formatar menu*/

.header-nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.header-nav ul{
    margin: 0;
    padding: 0;
}
.header-nav li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: 7px;
    padding: 0px;
}


/*FIM AJUSTAR TOPO E MENU*/

/*ARRUMAR O BODY */

.titulo{
    width: 1200px;
    height: 110px;
    background-color: ghostwhite;
    border: 3px solid darkgreen;
    display: inline-flex;
    
}

h1.titulo{
    font-size: 80px;
    padding-left: 150px;
}

div{
    display: inline-block;
}

/*PARTE O QUE É */

.div1{
    width: 600px;
    height: 180px;
    background-color: azure;
    margin-left: 50px;
}

.txt-oqe1{
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 30px;
}

.txt-oqe2{
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
}

/*PARTE DICAS*/

.div2{
    width: 600px;
    height: 150px;
    background-color: azure;
    margin-left: 50px;
    
    position: absolute;
    left: 650px;
    top: 272px;
}

.txt-dicas1{
    font-size: 30px;
    text-align: center;
    font-family: monospace;
    font-weight: bold;    
}

.txt-dicas2{
    font-size: 17px;
    font-family: sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
}

/* EXPLICAÇÃO */

.div3{
    width: 1000px;
    height: 500px;
    background-color: azure;
    position: static;
    margin-top: 50px;
    margin-left: 200px;
}

.txt-explica1{
    font-size: 35px;
    text-align: center;
    font-family: monospace;
    font-weight: bold;    
}

.txt-explica2{
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}





/*PARTE MATERIAIS UTILIZADOS*/

div.galeria{
    border: 1px solid gray;
    text-align: center;
    position: relative; /*centralizar o box*/
    left: 50%;/* esse nao usa pra 4*/
    background-color: azure;
}

div.galeria:hover{
    border: 2px solid yellow;
}

div.galeria img{
    width: 100%;
    height: auto;
}

div.descricao-img{
   padding: 15px;
   text-align: center;
   font-weight: bold;
    
}

* {
    box-sizing: border-box;
}

.box-img{
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 768px){
    .box-img{
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width:500px){
    .box-img{
        width: 100%;
    }
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

h2{
    font-size: 40px;
    font-family: monospace;
    text-align: center;
    color: mediumvioletred;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: 1px dashed mediumvioletred;
}

h4{
    font-size: 20px;
    text-align: center;
}


/*ARRUMAR FOOTER */
footer{
    background-color: purple;
    padding: 5px;
    font-size: 12px;
    color: white;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 20px;
}

/* o responsivo do site */

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {

    body { /* corpo do site */
        width: 100%;
    }
    
    nav { /* menu acima */
        flex-direction: row;
        justify-content: space-around;
    }
    
    nav ul {
        flex-direction: row;
       /* width: 50%;*/
    }
    
    /* Cabeçalho*/
    
    header{
        justify-content: center;
    }
    
    h1.titulo{
        width: 100%;
        height: 100%;
        font-size: 150%;
    }
    
    .div1{
        width: 100%;
        height: auto;
        margin: auto;
        font-size: 100%;
    }
    
    .div2{
        width: 100%;
        height: auto;
        margin: auto;
        left: auto;
        position: static;
        font-size: 100%;
    }
    
    .div3{
        width: 100%;
        height: auto;
        margin: auto;
        font-size: 100%;
    }
    
    h2{
        width: 100%;
        position: static;
    }
   
    
}
